EF-Badge-2024/afterburner/
EF-Badge-2024/galette/
*.fus
*.chp
*.jed
*.pin
EF-Badge-2024/GAL/sim/obj_dir/
EF-Badge-2024/CPLD/sim/obj_dir/
EF-Badge-2024/HW/*/*-backups/
EF-Badge-2024/HW/*/production/
*.o
*.bin
*.class
*.vcd
*.lst
*.hexe
*.bak
a.out
EF-Badge-2024/sim/test
EF-Badge-2025/HW/HW-backups/
EF-Badge-2025/HW/production/
EF-Badge-2025/VerilogBench/__pycache__/
EF-Badge-2025/VerilogBench/sim_build/
EF-Badge-2025/VerilogBench/venv/
EF-Badge-2025/VerilogBench/results.xml
EF-Badge-2025/FPGA_SRC/incremental_db/
EF-Badge-2025/FPGA_SRC/output_files/
EF-Badge-2025/FPGA_SRC/greybox_tmp/
EF-Badge-2025/FPGA_SRC/db/
